{% extends 'base.html' %}

{% block Content %}

    <h1> Practice </h1>
    <p>{{random_definition}}</p>


    {% for each in choices %}
        <form class="submit" method="POST">
            {% csrf_token %}
            <input type="hidden" id="question_cw" name="question_cw" value={{choices_dict.random_word}}>
            <input type="hidden" id="question_fw1" name="question_fw1" value={{choices_dict.false_word1}}>
            <input type="hidden" id="question_fw2" name="question_fw2" value={{choices_dict.false_word2}}>
            <input type="hidden" id="user_answer" name="user_answer" value={{each}}>

            <input class="choice" type="submit" value={{each}}>
        </form>
    {% endfor %}

    <style>
        form{
            margin-bottom: 10px;
        }
        .choice{
            width: 200px;
        }
    </style>


{% endblock %}